$active-color: #00ffddbe;
$hover-color: #00ffdd3f;
body{
    // width: 715px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        
        margin: 100px auto;
    }
    .text-area{
        border-radius: 10px;
        margin: 100px auto;
        height: 150px;
        width: 715px;
        font-size: 24px;
    }
    .wrapper{
        // display: flex;
        // justify-content: space-between;
        // flex-direction: column;
        margin: 0 auto;
        .keyboard{
            box-shadow: 0px 3px 5px $active-color;
            margin: 0 auto;
            background: #585858;
            // margin: 4px 0;
            width: 715px;
            display: flex;
            flex-wrap: wrap;
            border-radius: 5px;
            padding: 10px;
            justify-content: space-between;
            .key{
                width: 40px;
                height: 40px;
                // border: 1px solid ;
                margin: 2px;
                border-radius: 10px;
                background: #303030;
                color: #66efdb;

                cursor: pointer;


                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;


            }   
            .inactive:hover{
                background-color:$hover-color;
                color: #39ffe1;

            }
            @keyframes activeBtn {
                from {border-radius: 10px;
                    background: #303030;
}
                to {border-radius: 30px;
                    background: $active-color;
                    color: #303030;}

            }
            .active{
                animation-name: activeBtn;
                animation-duration: .15s;
                border-radius: 30px;
                background: $active-color;
                color: #303030;
            }
            @keyframes inactiveBtn {
                from {border-radius: 30px;
                    background: $active-color;}
                to {border-radius: 10px;
                    background: #303030;}
            }
            .inactive{
                animation-name: inactiveBtn;
                animation-duration: .15s;
                color: #66efdb;
            }
            .Shift{
                width: 93px;
            }
            .Space{

                width: 330px;
            }
            .Enter{
                width: 93px;
            }
            .CapsLock{

                width: 93px;
            }
            .Tab{
                width: 50px;
            }

            .Del    {
                width: 90px;
            }
            .Backspace{

                width: 100px;
            }
            .br {
                flex-basis: 100%;
                height: 0;
              }
              
        }
    }
}